
<footer class = 'container background mt-5'>
    <div class = 'container'>
        <h3 align = 'center' id="newCampHeader">Add a new Camp Ground</h3><br>   
    </div>
    
    
    <form method = 'POST' action = '/campgrounds' align = 'center'>
        <div class = 'table-responsive container col-sm-12 col-md-6'>
            <table align = 'center' class = 'container'>
                <tr class = "form-group">
                    <td><input class = "form-control border border-secondary" type = 'text' name = 'place' placeholder = '  Camp Place' required></td>
                </tr>
                <tr>
                    <td><p></p></td>
                </tr>
                <tr class = "form-group">
                    <td><input class = "form-control border border-secondary" type = 'text' name = 'image' placeholder = '  Image URL' required></td>
                </tr>
                <tr>
                    <td><p></p></td>
                </tr>
                <tr class = "form-group">
                    <td><input class = "form-control border border-secondary" type = 'number' name = 'price' placeholder = '  Price' min="0.01" step="0.01" required></td>
                </tr>
                <tr>
                    <td><p></p></td>
                </tr>
                <tr class = "form-group">
                    <td><input class = "form-control border border-secondary" type = 'text' name = 'location' placeholder = '  Location' required></td>
                </tr>
                <tr>
                    <td><p></p></td>
                </tr>
                <tr class = "form-group">
                    <td><textarea class = "form-control border border-secondary" name = 'description' rows="6" placeholder = '  Description' required></textarea></td>
                </tr>
                <tr>
                    <td><p></p></td>
                </tr>
            </table>
            <p class = "form-group">
                <button class="btn btn-lg btn-outline-secondary btn-block container">Submit</button>            
            </p>
        </div>
    </form>
</footer>

