<% include partials/header %>

<h1 class="header" style = margin-top:70px;>Welcome to the landing page of YelpCamp</h1>

<a href = "/campgrounds">Checkout our Campgrounds :)</a>


<% include partials/footer %>