<%- include('partials/header'); -%>
    <div class="container margin-top">
        <h3 align="center">Reset Password</h3><P></P>
        <div class="row">
            <div class="col-sm-12 col-md-6 offset-md-3">
                <form class="form" action="/reset/<%= user %>" method="POST" >
                    <input class="form-control border border-secondary" type="password" name="password" placeholder="  New Password" required><p></p>
                    <input class="form-control border border-secondary" type="password" name="confirmPassword" placeholder="  Confirm Password" required><p></p>
                    <button class="btn btn-lg btn-secondary float-right">Reset</button>
                </form>  
            </div>
        </div>
    </div>
<%- include('partials/footer'); -%>
