<% include partials/header %>
<div class = "container margin-top">
    <div class = "row"> 
        <h1><%= campgrounds.place %></h1>
    </div>
    <div class = "row">
        <img src = "<%= campgrounds.image %>" class = "img-thumbnail"> 
    </div>
    <div class = "row">
        <p>
            <%= campgrounds.description %>
        </p>
    </div>
    <h3>Comments</h3>
    <% campgrounds.comments.forEach(function(comment){ %>
    <p><%= comment.text %></p>
    <% }); %>
</div>
<% include partials/footer %>
