.flex {
    display:flex;
    flex-wrap:wrap;
}
.margin-top{
    margin-top:70px;
}

.margin{
    margin:5px;
}

.img-thumbnail img{
    width:100%;
}
.img-thumbnail{
    padding:0px;
}
.img-thumbnail .caption{
    padding:9px;
}