<% include header%>

<footer class = 'jumbotron container'>
    <div class = 'container'>
        <h3 align = 'center'>Add a new Camp Ground</h3><br>   
    </div>
    
    
    <form method = 'POST' action = '/campgrounds' align = 'center'>
        <div class = 'table-responsive container'>
            <table align = 'center' class = 'container'>
                <tr>
                    <td><input type = 'text' name = 'place' placeholder = '  Camp Place'><br><br></td>
                </tr>
                <tr></tr>
                    <td><input type = 'text' name = 'image' placeholder = '  Image URL'><br><br></td>
                </tr>
            </table>
            <p>
                <button class="btn btn-outline-secondary">Submit</button>            
            </p>
        </div>
    </form>
</footer>

